PORT=5000
MONGO_URI='mongodb+srv://thieentraan_db_user:bVMGHPK1X07ZG0U6@project.rx2bnr8.mongodb.net/?appName=Project'
JWT_SECRET=clique83_super_secret_jwt_key_2024
JWT_EXPIRES_IN=7d
CLIENT_URL='http://localhost:5173,https://frontend-intern-beta.vercel.app'